<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        We promote fallback systems to establish civic cohesion in the event of the unexpected
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        ...
      </p>
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        ...
      </p>
    </div>
  </div>
</section>
