---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import Intro from "../components/landing/Intro.astro";
import Projects from "../components/landing/Projects.astro";
import Testimonials from "../components/landing/Testimonials.astro";
import FeaturedWork from "../components/landing/FeaturedWork.astro";

---

<BaseLayout>
<Hero />
<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6 text-secondary">

<h1>Mission statement</h1><br>

<p>AI is a train going off the tracks that will disrupt every industry and cause tremendous change: people losing their jobs is just the tip of the ice berg. The agentic AI promise of autonomous AI agents working together to control real systems and make decisions in real time is not sci-fi but an inevitable outcome of commercial strategy (its just around the corner).</p><br>

<p>Anthropic are aiming to release AI employees in the near future that will be AI remote workers logging into corporate networks, writing code and making critical decisions. The AI lab business model has largely been a race to the bottom with AI advancements being quickly stolen by competitors.</p><br>

<p>There are government AI safety initiatives that try to assess frontier models and if they could be misused for nefarious purposes. The angle is largely about mitigating risks to national security but regarding the degradation of privacy of people at large I don't think they are working to stem other risks.</p>

<br><br>
<h2>Privacy and the ability to opt-out.</h2><br><br>

<p>Advertisement companies and big tech companies are forced by law to give customers some ability to opt-out of targeting tracking. As AI integrates with augmented reality and more and more people are wearing cameras that are always on from their point of view. How does someone who does not want to be filmed, recorded with their actions or behaviors used as AI training data opt out?</p><br>

<p>We live in a world dominated by surveillance and by and large we have no way to opt out of CCTV surveillance and meta data collection. From those tech and AI companies trying to capitalize on AI having push back by privacy advocates hampers this progress.</p><br>

<p>People have cameras attached to their smart phones and video strangers and upload this video to social media platforms. This allows companies like meta to figure out who someone is using the picture of the back of someones head.</p>

<br><br>
<h2>Companies and institutions</h2><br><br>

<p>Companies and institutions prepare for worst case scenarios but we do not develop methods for social cohesion if catastrophic failures occur. These social individual problems are not considered and especially across cultural boundaries. In the event of every satellite and cell tower going offline individuals do not have procedures or fallback systems that can act as a life line.</p><br>

<p>It is not that difficult to build these fallback systems and in short amount of time we have come up with some viable solutions. The idea of a computational pendant containing essential human knowledge and has multiple communication methods that include long range communication via radio signals could can be built and tested today.</p><br>

<p>These small devices are carried at all times and encased in casing resistant to electro magnetic exposure. They could be opened and utilized to find other people in emergencies.</p>

<br><br>
<h2>Civic infrastructure</h2><br><br>

<p>When smart phones and the internet are inoperable how do we communicate, buy or sell things or manage or exchange digital information? We need to create systems that enable this kind of capability and test them now. These systems can offer a kind of open civic infrastructure that is beyond geopolitical constraints.</p><br>

<p>These systems also raise another question? Why are we not developing global civic infrastructure that is post-capitalism and empowering? Why does everything have to be a product or profiteering?</p><br>

<br><br>
<h2>Who is worried about this issue?</h2><br><br>

<p>Surprisingly few people or organizations are worried about humanity as a whole maintaining civic cohesion in the event of unexpected technical failure. There are those with resources to look after themselves but this "each man is an island" approach is incredibly self interested and naive.</p><br>

<p>In the same way global economic solutions that don't work are created in a room by so called "experts" and forced on the world we can't assume that we can solve complex interconnected problems without consensus, buy in and feedback from those who will rely on them.</p>

<br><br>
<h2>The big picture</h2><br><br>

<p>We have seen a gradual eroding of privacy, centralization of power and a general lack of concern for humanity as a whole. This means that companies working in the AI space can roll out technology that further exacerbates this without push back.</p><br>

<p>If we develop fall back systems and civic infrastructure that is free from commercial or nation state coercion we may have tools that empower democracy today. These tools can be used in emergencies tomorrow and allow viable alternatives to predatory systems today.</p>

<br><br>
<h2>Contact us</h2><br><br>

<p>This project is new and we value feedback.</p><br>

<p>Contact us by <a href="mailto:fallback.systems@tutamail.com">email</a></p>

    </div>

  </div>
</section>

<FeaturedWork />
</BaseLayout>
